:root{
    --tealish_thing: rgb(23, 121, 234);
    --slu_scarlet:rgb(170, 24, 44);
    --slu_dark_brown:#653A2B;
    --slu_light_brown: #D5BA8C;
    --light_tealesk: rgb(0, 195, 255);
    --ivoryish: rgb(241, 241, 225);
    --hex_cdf_ancientMoss:#1e2700; /* nav bar color    */
    --hex_med_green:#689D32;
    --hex_light_blue:#98A6FE;

}

#name {
    /*flex-grow: 1;
    flex-basis: 0;
    */
    flex: 1; /* automaticaly updates flex basis */
    color:black;
    text-align:inline;
    

}

navbar-brand{
    color:var(--ivoryish);
}

#nav_stuff_header{
    color:var(--ivoryish);
    background-color: var(--hex_cdf_ancientMoss);
   /* background-color: var(--slu_scarlet);*/

    /*  root em is the hieght of the text for the root element <html>*/
    padding: 0.5rem; /* defines a margin from edge of webpage
    border-radius: 0.5rem;  rounds corners of heading and img*/
}

#profile_pic{
    max-width:300px;
    padding: 0.5rem;
}



#education{
    color:var(--ivoryish);
    background-color: var(--hex_med_green);
}

#skills{

    background-color: var(--hex_light_blue);
}


#pic_then_yap{
    margin-bottom: 2rem;
    margin-right: 2rem;
}

#input-grouped{
    color:var(--ivoryish);
    background-color: var(--hex_med_green);

}